body {
	margin: 0px;
	font-family: "Lucida Console", Monaco, monospace;
}

ul {
	list-style-type: none;
	overflow: hidden;
	margin: 20px;
}

div {
	padding-top: 10px;
	padding-right: 16px;
}

p {
	font-size: 10px;
}

table{
	border-spacing: 10px;
	border-collapse: collapse;
    font-family: arial, sans-serif;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
